<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/singn.css" />
  </head>
  <body>
    <header></header>
    <main>
      <form action="/todo" name="" method="post">
        <label for="">이메일</label>
        <div class="email-auth">
          <input type="email" placeholder="영문,숫자 4~20자" />
          <button>인증</button>
        </div>
        <div class="email-value">
          <input type="number" placeholder="인증번호 " />
          <button>확인</button>
        </div>
        <label for="">패스워드</label>
        <input type="password" placeholder="영문,숫자,특수문자 4~20자" />
        <label for="">닉네임</label>
        <input type="text" placeholder="새싹" />
        <button>등록</button>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
