<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/singn.css" />
  </head>
  <body>
    <header></header>
    <main>
      <form name="" action="singn">
        <label for="">이메일</label>
        <div>
          <input type="email" placeholder="email" required />
          <button class=""></button>
        </div>
        <div>
          <input type="number" placeholder="인증번호" required />
        </div>
        <label for="">패스워드</label>
        <input type="password" placeholder="password" required />
        <label for="">닉네임</label>
        <input type="text" placeholder="새싹" required />
      </form>
    </main>
    <footer></footer>
  </body>
</html>
